*, :after, :before {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    background: url(img/pls.gif) center center no-repeat  fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#btn{
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 0px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background 0.2s linear, color 0.2s linear ;
    position: relative;
    top: 480px;
    
}
.btn:hover {
    background-color: #fff;
    color: black;

}
